doctype html
title Notes
link(rel='stylesheet' href=require('./dist/photon/css/photon.css'))
link(rel='stylesheet' href=require('./index.css'))
link(rel='stylesheet' href=require('./dist/inter.css'))
link(rel='stylesheet' href=require('./dist/bootstrap-icons.css'))
#root.window
