doctype html
title Notes
link(rel='stylesheet' href=require('./index.scss'))
link(rel='stylesheet' href=require('./dist/inter.css'))
link(rel='stylesheet' href=require('./dist/bootstrap-icons.css'))
#root.window(data-bs-theme='dark')
