.icon:before {
  line-height: unset !important;
}

.nav-group-item {
  height: 26px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Inter, Cantarell, Helvetica, "Segoe UI", sans-serif;
}

#root {
  margin: 10px;
  box-shadow: 0 0 7.5px rgba(0, 0, 0, .2);
  border: 1px solid #bebebe;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
}

.btn {
  height: 24px;
}

.btn .icon {
  float: none !important;
  vertical-align: text-bottom;
  pointer-events: none;
}

.btn .bi {
  font-size: 14px;
  line-height: 1;
  color: #737475;
  vertical-align: text-bottom;
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.fill {
  flex: 1;
}

