doctype html
title Notes
link(rel='stylesheet' href=require('./dist/photon/css/photon.css'))
style.
  .icon:before {
    line-height: unset !important;
  }
  .window-drag {
    -webkit-app-region: drag;
  }
  .window {
    margin: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border: 1px solid #bebebe;
    border-radius: 6px;
    overflow: hidden;
  }

#root.window
